*{
    padding: 0;
    margin: 0;
}
#game{
    width: auto;
    height: 418px;
    border: 1px solid black;
    background-image: url(assest/Desert.gif);
    background-repeat: no-repeat;
    background-size: 2000px 418px;
}
#character{
    background-image: url(assest/d4lrywr-9696f203-0a46-46bc-bd74-5c1c08c968ca.gif);
    width: 208px;
    height: 268px;
    position: relative;
    top: 150px;
    transform: scaleX(-1);
}

.animate{
    animation: jump 500ms;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 20px;}   
    70%{top: 20px;}     
    100%{top: 150px;}        
}
#block{
    background-image: url(assest/o8G.gif);
    width: 225px;
    height: 225px;
    border-radius: 100%;
    position: relative;
    scale: 60%;
    top: -20px;
    left: 480px;
    animation: block 2.5s infinite linear;
}
@keyframes block {
    0%{left:2000px;}
    100%{left:-180px;}    
}